:root {
	--bg-color: #000;
	--bright-bg-color: #333;
	--fg-color: #aaa;
	--bright-fg-color: #ccc;
}

html,
body {
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
	color: var(--fg-color);
}

#root {
	width: 100vw;
	height: 100vh;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@media (min-width: 640px) {
	#nav {
		flex-direction: row;
		padding: 1.5rem 1.5rem 0 1.5rem;
	}
}

@media (max-width: 639px) {
	#nav {
		flex-direction: column;
		padding: 0.75rem;
	}
}

#nav {
	display: flex;
	align-items: baseline;
	gap: 1em;
}

#nav .buttons {
	margin-left: auto;
}

.map {
	flex-grow: 2;
}

.map .button.is-primary {
	background-color: red;
}

#root .modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9999999;
}

#root .modal .modal-window {
	background-color: var(--bright-bg-color);
	color: var(--bright-fg-color);
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.75) 0 0.75rem 1rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	gap: 1rem;
	max-width: 480px;
	min-width: 320px;
}

#root .modal .modal-window header.modal-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

#root .modal .modal-window .modal-body p {
	margin-bottom: 1rem;
}

#root .sign-in-form {
	gap: 1rem;
	display: flex;
	flex-direction: row;
}

#root .title {
	color: var(--bright-fg-color);
}

#root strong {
	color: var(--bright-fg-color);
}

#root .gap {
	gap: 1rem;
}